In [3]:
import json
import os
import sys
import pandas as pd
from pandas import json_normalize
# Credits: https://github.com/agalea91/city_to_state_dictionary/blob/master/city_to_state.py
from states import city_to_state_dict

In [4]:
# Current directory
dirName = 'JSON_tweets/'
dirTweets= sorted(os.listdir(dirName))

df = pd.DataFrame(columns=['id','created_at','text','location','lang'])

for tweet in dirTweets:
    with open(dirName+tweet) as f:
        all_tweet = json.load(f)
        for i in range(1, len(all_tweet)-1):
            try:
                info = all_tweet[i]['row']['columns']
            except:
                print(all_tweet[i])
            new_json = {
                'id': info[2],
                'created_at': info[1],
                'text': info[3],
                'location': info[6]['LOCATION'],
                'lang': info[6]['LANG']
            }
            df = df.append(json_normalize(new_json))

In [5]:
df.head()

,id,created_at,text,location,lang
0,1337837525155663875,1607800296000,@SpartyHicks @FoxNews We got the #Oil the worl...,Texas,None
0,1337837528758575113,1607800297000,"RT @Forbes: Meet the Fiskers, the billionaire ...",Canada,None
0,1337837534248898561,1607800298000,@toxicpath It‚Äôs a pleasant conspiracy theory o...,"Kansas City, MO",None
0,1337837537948262402,1607800299000,@dealer_of_happy 1st Tesla-world problem üòâ,None,None
0,1337837550216613888,1607800302000,RT @discord: ok this year's snowsgiving giveaw...,None,None

In [6]:
csv_file = 'prueba.csv'

In [7]:
df.to_csv(csv_file)

In [ ]:
"""
    Add csv to S3
"""

In [14]:
# Retrieve key and host from terminal
aws_access_key_id = os.getenv('AWS_ACCESS_KEY_ID')
aws_secret_access_key = os.getenv('AWS_SECRET_ACCESS_KEY')

In [21]:
import boto3
s3 = boto3.resource('s3', region_name='us-east-1', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

In [26]:
# Upload a new file
data = open(csv_file, 'rb')
bucket = s3.Bucket('tweets-hackoff1')
bucket.put_object(Key=csv_file, Body=data)

s3.Object(bucket_name='tweets-hackoff1', key='prueba.csv')

In [ ]:
"""
    Attempt to transform cities into states
"""

In [49]:
for l in df['location']:
    if l is not None:
        l = l.strip()
        words = l.split(",")
        for w in words:
            if w in city_to_state_dict.values():
                print(w)
            elif w in city_to_state_dict.keys():
                    print(city_to_state_dict[w])
            else:
                print("other= %s" %(w))

Texas
other= Canada
Kansas
other=  MO
California
other=  CA
other= United States
other= Iceland
other= fede ‚Ä¢ emma ‚Ä¢ luca ‚Ä¢ ta√≠s
other= Osorno
other=  Chile
other= ARIZONA
other= 59.932094
other= 30.335732
other= ATL GA USA
Texas
other= Dildo
other=  NL
New York
other=  NY
other= Maui
other=  Hawaii
other= FL
Nebraska
other=  USA
other= she/her
Missouri
other=  MO
Oregon
other=  ME
California
other=  CA
other= he/him
California
other=  CA
Washington
other=  USA
other= Oceania
other= M√©xico
other= Your moms house
California
other=  CA
California
other=  CA
other= South Africa
other= Maui
other=  Hawaii
other= The milk bar
other=  IL
other= Badajoz
other=  Spain
Minnesota
other=  TX
other= Vancouver Island BC CANADA
Michigan
other=  MI/Dallas
other=  TX
other= Western Finland
other= Lake Mary
other=  FL
other= 1930s USA aka Florida.
other= ults: exo | got7 | txt
other= Maui
other=  Hawaii
California
other=  CA
other= Bogot√°
other=  Colombia
New York
other=  N.Y.
other= üå¥üê∞üëëüçëüåûüêçüåº
other= Western Finland
other= s√£o paulo
other= She/They
Maryland
other=  TN
other=  USA
other= Mythical land called Sanity
Ohio
other=  IA
other=  United States
other= 647.218.2414
New Hampshire
other=  England
other= Deutschland
Washington
other=  WA
other= Wien
other=  √ñsterreich
other= Cambodia
other= GA
California
other=  California
Florida
other=  FL
Minnesota
other=  MN
Illinois
other=  IL
other= South Africa